# Données persistantes
**/data/

# Logs
**/logs/
*.log

# Fichiers de configuration secrets
.env
*.env
**/secrets/

# Données Grafana
grafana/data/
grafana/plugins/

# Données Prometheus
prometheus/data/

# Données Loki
loki/data/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Fichiers Ansible
*.retry
ansible/*.retry